<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('head') %>
  </head>
  <body>
    <header><%- include ('menu') %></header>
    <main>
    <div class="login">
    <div class="inner-login">
    
     <h1>Hallo, <%= user.username %></h1>
     <a href="/logout">log out</a>
        <button class="edit-details">edit details</button>
        <form class="test" action="/editInfo" method="POST">
          <label for="email">Email</label>
          <input type="text" name="email" class="email" value="<%= user.email %>" required readonly/>

          <label for="username">Username</label>
          <input type="text" name="username" class="username" value="<%= user.username %>" required readonly/>

            <p class="ErrorMessage"><%= error %></p>
          <button type="submit">Update Info</button>
        </form>

        <form action="/editPassword" method="POST">
          <label for="password">Change your password</label>
          <input type="password" name="password" class="password" placeholder="Edit your password..." required/>
          <button type="submit">Update Password</button>
        </form>
    </main>
    <footer></footer>
    <script src="/scripts/index.js"></script>
  </body>
</html>
