<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('head') %>
  </head>
  <body>
    <header><%- include ('menu') %></header>
    <main>
    <div class="login">
    <div class="inner-login">
    
     <h1>Hallo, <%= user.username %></h1>
     <a href="/logout">log out</a>
     <button class="showFriends">
      <% if (friends && friends.length > 0) { %>
        <%= friends.length %> friends
      <% } else { %>
        <p>0 friends</p>
      <% } %>
    </button>
     <dialog class="showFriendsModal">
      <h2>Your friends</h2>
      <ul>
        <% if (friends && friends.length > 0) { %>
          <% friends.forEach(friend => { %>
            <li><a href="/profile/<%= friend %>"><%= friend %></a></li>
          <% }) %>
        <% } else { %>
          <li>Add new friends at <a href="/friends">here!</a></li>
        <% } %>
        </ul>
      <button class="modalClose">x</button>
      </dialog>
        <button class="edit-details">edit details</button>
        <form class="test" action="/editInfo" method="POST">
          <label for="email">Email</label>
          <input type="text" name="email" class="email" value="<%= user.email %>" required readonly/>

          <label for="username">Username</label>
          <input type="text" name="username" class="username" value="<%= user.username %>" required readonly/>

            <p class="ErrorMessage"><%= error %></p>
          <button type="submit">Update Info</button>
        </form>

        <form action="/editPassword" method="POST">
          <label for="password">Change your password</label>
          <input type="password" name="password" class="password" placeholder="Edit your password..." required/>
          <button type="submit">Update Password</button>
        </form>
    </main>
    <footer></footer>
    <script src="static/scripts/index.js"></script>
  </body>
</html>
