<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>
      <div class="user">
        <h1><%= profile.username %> profile</h1>
        <button class="showFriends"><%= profile.friends ? profile.friends.length : 0%> friend(s)</button>
      </div>

        <dialog class="showFriendsModal">
         <h2>Your friends</h2>
         <ul>
            <% if (profile.friends) { %>
                <% profile.friends.forEach(friend => { %>
                  <li><a href="/profile/<%= friend %>"><%= friend %></a></li>
                <% }) %>
              <% } else { %>
                <li>No friends added yet.</li>
              <% } %>
           </ul>
         <button class="modalClose">x</button>
        </dialog>
        <section class="favorite-container">
            <h2> <%= profile.username %> Favorites</h2>
                <p>This user has no favorites yet! Tell them to add some songs to their favorites!</p>
        </section>
    </main>

    <footer></footer>
    <script src="/static/scripts/friendprofile.js"></script>
</body>


</html>